html,body {
    height: 100%;
}
.header {
    background: var(--main-color);
    width: 100%;
    height: 40px;
    top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img {
    position: relative;
    z-index: 1;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 4px solid white;
}

div.offers {
    position: relative;
    top: 30px;
    min-height: calc(100% - 31% - 110px);
    padding-top: 15px;
    padding-bottom: 4vh;
}
div.offers > div {
    display:flex;
    justify-content: center;
    padding:0;
}
div.main-page {
    min-height: calc(100% - 31% - 120px);
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    padding: 40px 15px;
    justify-content: center;
}
div.order-page {
    min-height: calc(100% - 110px);
    top: 30px;
    overflow: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
div.order-online-page {
    height: calc(100% - 140px);
    top: 30px;
    overflow: auto;
    display: flex;
    flex-flow: column;
    justify-content: start;
    direction: rtl;
    padding: 0;
    margin-top: 30px;
}
div.order-online-page .categories
{
    direction: rtl;
    background: var(--icon-border-color);
    color: var(--icon-color);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}
div.order-online-page ul
{
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    overflow: auto;
    width: 100%;
    padding: 0;
}
div.order-online-page ul li
{
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}
div.order-online-page .items,div.order-online-page .items h2
{
    direction: rtl;
    text-align: right;
    position: relative;
}
div.order-online-page .items h2
{
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}
div.order-online-page .items h2::after
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
}
div.order-online-page .items .item .right img
{  
    width: 200px;
    height: 150px;
}
div.order-online-page .items .item 
{
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #969696;
    padding: 10px 0px;
    cursor: pointer;
}
div.order-online-page .items .item .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: auto;
}
div.order-online-page .items .item .content h3{
    font-weight: 600;
    margin: 5px 0;
}
div.order-online-page .items .item .content p{
    color:#969696;
}
div.order-online-page div.order-footer
{
    position: sticky;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 10px 0;
    box-shadow: -5px 0 5px #afafaf;
}
div.order-online-page div.order-footer button p {
    margin: 0;
}
div.order-online-page div.order-footer button
{
    color: white;
    background: var(--icon-back-color);
    border: 0;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    font-size: 17px;
}
div.order-online-page div.order-footer button .count
{
    background: var(--main-color);
    color: black;
    border-radius: 7px;
    width: 30px;
    height: 30px;
    line-height: 32px;
}
div.clear
{
    clear: both;
}
div.order-online-page ul li.active
{
    color:#fcab11;
    font-weight: bold;
    position: relative;
}
div.order-online-page ul li.active::after
{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border: 2px solid #fcab11;
}
div.order-online-page ul li p
{
    width: max-content;
    margin: 0;
}

div.safwa-page {
    flex-flow: column;
    padding-bottom: 30px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div.social-page {
    min-height: calc(100% - 110px);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    position: relative;
    overflow: auto;
    top: 30px;
}
div.sections > div.item{
    padding: 0 5px;
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-flow: column;
}
div.sections div.item svg .icon {
    fill: var(--icon-color);
}
div.sections div.item svg .icon-back {
    fill: var(--icon-back-color);
}
div.sections  div.item svg {
    color: var(--icon-border-color);
}
div.sections > div.item div{
    border-radius: 10px;
    color:white;
    text-align: center;
    cursor: pointer;
}
div.sections > div.item div i {
    font-size: 60px;
    margin-top: 50px;
}
div.sections > div.item div p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    text-shadow: 2px 2px 2px black;
}
div.sections > div.item a {
    text-decoration: none;
}
div.sections > div.item img{
    width: 100%;
}
.paper-slide {
    text-align: center;
    background: none !important;
    box-shadow: none !important;
}
#papers img{
    max-height: 100% !important;
    max-width: 100%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ps-nav-prev, .ps-nav-next {
    background: var(--icon-back-color) !important;
    color:var(--icon-back-color);
    font-weight: bold;
    width: 3em !important;
    font-size: 20px;
    text-decoration: none !important;
    box-shadow: 1px 1px 2px black;
    border: 0 !important;
    position: absolute !important;
    top: -40px !important;
    text-shadow: none;
}

.ps-nav-prev {
    box-shadow: -1px 1px 2px black;
    left: 0 !important;
}ا
.ps-nav-next {
    right: 0 !important;
    color: var(--icon-border-color) !important;
}
.nPage {
    position: absolute;
    top: -20px;
    background: var(--icon-back-color);
    color: #fff;
    padding: 7px;
    margin: 7px 0;
    border-radius: 7px;
    box-shadow: 0px 0px 4px black;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: none;
    box-shadow: none;
}
/* paper slider css*/
.ui-page-theme-a{
    background-color: unset !important;
}
#papers {
  position:relative;
  height: 100%;
}
.paper-slide {
  background:#eee;
  box-shadow:0 0 15px rgba(0,0,0,.3);
}
.ps-nav {
  display:block;
  width:2em;
  height:2em;
  border:1px solid #aaa;
  background:#ddd;
  line-height:2em;
  text-align:center;
  position:absolute;
  top:50%;
  margin-top:-1em;
  border-radius:2em;
  box-shadow: none;
}
.ps-nav-prev {
  left:-2.5em;
}
.ps-nav-next {
  right: 0;
}
.ps-nav:hover {
  color:#eee;
  background:#08c;
}
.ui-page {
    height: 100% !important;
}
.sections {
    /*height: 80%*/
}
.ui-page-theme-a a{
  color: #fff !important;
}

#myCarousel {
    height: 31%;
    top: 30px;
    margin-top: 10px;
    min-height: 170px;
}
.carousel-inner {
    width: fit-content;
    margin: 0 auto;
}
#myCarousel img {
    height: 100%;
    object-fit: fill;
    object-position: center;
    margin: 0 auto;
    border-radius: 5px;
    padding: 0;
    width: 100%;
}
#myCarousel .item {
    height: 100%;
    padding: 0 15px;
}
.carousel-inner {
    height: 100%;
}
.carousel-control {
    background: none !important;
}
.offers .item {
    background: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    padding: 0;
    display: flex;
    margin-top: 5px;
    flex-flow: column;
    cursor: pointer;
}

.offers .item div:nth-of-type(2) img {
    width: 100%;
    margin-top:10px;
    border-radius: 10px 10px 10px 10px;
}
.offers .item div h2{
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
    background: var(--icon-back-color);
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.offers pre{
    text-align: right;
    font-size: 17px;
}
.offers .discount {
    display: block;
    text-align: center;
    direction: rtl;
    font-size: 1.6em;
    padding: 1px;
}
.offers .discount span{
    font-weight: bold;
    color: var(--text);;
}
.order {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background:white;
    box-shadow: 0 0 7px black;
    border-radius: 20px;
}
.order div:first-of-type {
    text-align: center;
}

.order div:first-of-type img {
    width: 135px;
    position: absolute;
    border-radius: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -60px;
    border: 3px solid white;
    box-sizing: content-box;
    box-shadow: 0px 3px 4px black;
}
.order .item{
    margin-top: 110px;
    margin-bottom: 30px;
    font-size: 22px;
}
.order .item div{
    text-align: left;
    padding: 10px 0;
    font-weight: bold;
}

.footer{
    background: var(--main-color);;
    width: 100%;
    height: 40px;
    top: 30px;
    position: relative;
    z-index: 1;
    float: left;
}

.item-container{
    display: flex;
    margin-bottom: 40px;
}
.sections {
    padding-bottom: 0;
    padding-top: 20px;
}
.sections .row {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
.sections .row .item img {
    width: 100%;
}
.comments {
    color: var(--main-color);
}
.comments .row{
    margin: 0 auto;
    padding: 0 5px;
}
.comments .row .item{
    padding: 0;
}
.comments h2:nth-of-type(2) {
    border: 3px solid #fcab11;
    border-radius: 12px;
}
.comments h2:first-of-type {
    background: var(--icon-border-color);
    text-align: center;
    padding: 7px 0;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
}
.comments div span {
    display: flex;
    direction: rtl;
    margin-bottom:20px;
    padding:0;
    float: right;
}
.comments div span.span-small-second {
    padding-right: 10px;
}
.comments div span p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    margin: auto;
}
.comments div span > p {
    width: 60px;
    color: var(--text);
    font-weight: bold;
}
.comments div span input {
    height: 30px;
    font-size: 14px;
    padding: 0px 4px;
    flex: 1;
    border: 2px solid var(--icon-border-color);
    border-radius: 5px;
    color: var(--text);
    width: 100%;
    outline: none;
}
.comments div:nth-of-type(2) h2, .comments div:nth-of-type(3) h2 {
    display: inline-block;
    padding: 7px 50px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
}
.comments div:nth-of-type(2) h2:nth-of-type(2), .comments div:nth-of-type(3) h2:nth-of-type(2) {
    display: inline-block;
    padding: 0;
    width: 36px;
    height: 34px;
    line-height: 0.3;
    font-weight: bold;
    font-size: 48px;
}
.comments div table{
    width: 100%;
    font-size: 14px;
    direction: rtl;    
}
.comments div table#vote tr td:first-of-type {
    text-align: right;
    font-weight: bold;
} 
.comments div table tr th, table tr td {
    text-align: center;
    color: var(--text);
    font-weight: bold;
}
.comments div table:nth-of-type(2) tr td:first-of-type {
    text-align: right;
}
.comments div input[type="radio"] {
    border: 2px solid var(--icon-border-color);
    appearance: none;
    width: 40px;
    height: 40px;
    margin: 10px;
    line-height: 3;
    border-radius: 50%;
    outline: none;
}
.comments div input[type="radio"]:checked {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
    outline: none;
    position: relative;
    background-color: var(--icon-border-color);
}
.comments div input[type="radio"]:checked::before {
    content: "✓";
    color: white;
    position: absolute;
    top: -24px;
    left: 7px;
    font-size: 29px;
}
.comments div textarea {
    border: 6px solid var(--icon-border-color);
    width: 100%;
    height: 160px;
    margin-bottom: 40px;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    padding: 5px;
    color: var(--text);
}
.comments div input[type="submit"] {
    background-color: var(--icon-border-color);
    color: white;
    font-weight: bold;
    padding: 10px 45px;
    font-size: 25px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 20px;;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

div.ui-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.ui-page .footer {
    top: 0px !important;
}